/* Class for the image inside movie item in list */
.movie-item-img {
	width: 200px;
}

/* Used to create a blank space on top of content for fixed topbar */
.container-fluid {
	margin-top: 70px;
}

/* Bottom border on navbar */
.navbar {
	border-bottom: 1px solid #ddd;
}